html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 17px;
  line-height: 1.5;
  font-family: "Lora", serif;
}

main {
  margin-bottom: 100px;
}

nav,
header,
section,
footer,
.scroll-up {
  margin: 0 auto;
  text-align: center;
}

.lunch-menu,
.breakfast-nav,
.events,
.scroll-up {
  margin-bottom: 20px;
}

img {
  width: 100%;
}

.button {
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
  color: #000;
}
.button--white {
  color: #fff;
  border: 2px solid #fff;
}
.button--white:hover {
  color: #000;
  background-color: #fff;
}
.button--black {
  border: 2px solid #000;
}
.button--black:hover {
  background-color: #000;
  color: #fff;
}
.button--margin {
  margin-top: 10px;
}
.button--block {
  display: block;
  margin: 10px auto;
}
.button--underline {
  text-decoration: underline;
}

.title {
  font-size: 36px;
  margin: 0;
  text-align: center;
}
.title__text {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
}
.title--padding {
  padding-top: 20px;
}
.title--uppercase {
  text-transform: uppercase;
}

.photo {
  display: block;
  height: 100%;
}
.photo--hidden {
  display: none;
}
@media screen and (min-width: 960px) {
  .photo--hidden {
    display: block;
  }
}

.menu {
  overflow: hidden;
  position: fixed;
  width: 100%;
  text-align: left;
  z-index: 100;
  background-color: #3e3d3d;
}
@media screen and (min-width: 960px) {
  .menu {
    background-color: #3e3d3d;
  }
}
.menu #menu--hidable {
  display: none;
}
@media screen and (min-width: 960px) {
  .menu #menu--hidable {
    display: flex;
  }
}
.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 960px) {
  .menu__list {
    display: flex;
    justify-content: space-between;
  }
}
.menu__link {
  text-decoration: none;
  color: #fff;
  padding: 14px 16px;
  display: block;
}
.menu__link:hover {
  background-color: #fff;
  color: #3e3d3d;
}
.menu__icon {
  background-color: #3e3d3d;
  color: #fff;
  padding: 14px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
@media screen and (min-width: 960px) {
  .menu__icon {
    display: none;
  }
}
.menu__icon:hover {
  background-color: #fff;
  color: #3e3d3d;
}
.menu__link--inline-block {
  font-weight: bold;
  display: inline-block;
}

.header {
  position: relative;
  height: 60vh;
}
@media screen and (min-width: 960px) {
  .header {
    height: 80vh;
  }
}
.header__image {
  height: 60vh;
  opacity: 0.8;
}
@media screen and (min-width: 960px) {
  .header__image {
    height: 80vh;
  }
}
.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px auto;
  z-index: 1;
  color: #000;
  font-family: "IM Fell English SC", serif;
}
.header__title {
  margin-top: 100px;
  font-size: 38px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
}
@media screen and (min-width: 960px) {
  .header__title {
    font-size: 52px;
  }
}
.header__title::after {
  content: "";
  display: block;
  width: 80px;
  height: 8px;
  background-color: #000;
  margin: auto;
}
.header__text {
  margin: 0;
}
.header__title, .header__text {
  font-weight: bold;
  text-shadow: 2px 2px 2px white;
}

@media screen and (min-width: 960px) {
  .grid-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
  }
}
.grid-column__left {
  grid-column: 1;
  grid-row: 1;
}
.grid-column__middle {
  grid-column: 2;
  grid-row: 1;
}
.grid-column__right {
  grid-column: 3;
  grid-row: 1;
}

.grid-row {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px;
    gap: 20px;
  }
  .grid-row__left {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
  }
  .grid-row__left--text-align-top {
    align-self: stretch;
  }
  .grid-row__right {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
  }
}

@media screen and (min-width: 768px) {
  .grid-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (min-width: 960px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .grid-gallery__left {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
  }
  .grid-gallery__right {
    grid-column: 2/span 2;
    grid-row: 3/span 2;
  }
}

.breakfast-nav {
  opacity: 0.8;
}
.breakfast-nav__content {
  text-align: center;
  background-image: url(../images/breakfast-nav-2.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 250px;
}
@media screen and (min-width: 960px) {
  .breakfast-nav__content {
    height: auto;
  }
}

.lunch-menu {
  padding: 0 10px 10px 10px;
}
@media screen and (min-width: 960px) {
  .lunch-menu {
    width: 960px;
    padding: 0 40px 40px 40px;
  }
}

.table {
  width: 100%;
}
.table__header {
  padding: 20px 0 0 10px;
  text-align: left;
}
.table__text {
  border-bottom: 1px dashed #000;
  text-align: left;
}
.table__text:first-child {
  width: 100%;
}
.table__text:last-child {
  padding-left: 20px;
  border: 0;
  text-align: right;
}

.events-nav {
  padding: 0 20px;
  text-align: center;
}
@media screen and (min-width: 960px) {
  .events-nav {
    padding: 0;
  }
}
@media screen and (min-width: 1100px) {
  .events-nav {
    max-width: 1100px;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 540px) {
  .flex {
    flex-direction: row;
    justify-content: center;
    gap: 0;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

.card {
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
@media screen and (min-width: 540px) {
  .card {
    margin: 0;
  }
  .card:nth-child(2) {
    margin: 0 20px;
  }
}
@media screen and (min-width: 1100px) {
  .card {
    flex: 1;
  }
}
.card__text, .card__title, .card__date {
  margin: 0;
}
.card__title {
  text-align: center;
}
.card__time {
  font-weight: bold;
}
.card__img {
  max-height: 350px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  background-color: #3e3d3d;
  color: #fff;
}
@media screen and (min-width: 540px) {
  .footer {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 960px) {
  .footer__newsletter, .footer__open {
    flex-basis: 100%;
  }
}
.footer__copyright {
  background-color: #000;
  padding: 20px 0;
}
@media screen and (min-width: 540px) {
  .footer__copyright {
    flex-basis: 100%;
  }
}
.footer__text, .footer__copyright {
  font-size: 14px;
}
.footer__title, .footer__text {
  margin: 0;
}

.input {
  padding: 10px 30px;
  margin-top: 20px;
  text-align: center;
  font-style: italic;
}

.hidden--alert {
  color: #62b022;
  font-weight: bold;
  display: none;
  margin: 10px;
}

.content {
  padding: 0 20px;
}
@media screen and (min-width: 960px) {
  .content {
    max-width: 1100px;
  }
}
.content__image {
  height: 400px;
}
.content__image--hidden {
  display: none;
}
@media screen and (min-width: 768px) {
  .content__image--hidden {
    display: block;
  }
}
.content__return-button {
  text-align: left;
}
.content__intro {
  margin-bottom: 20px;
}

.gallery__image {
  height: 100%;
}

.offer__title, .offer__text {
  margin: 0;
}
.offer__text {
  font-style: italic;
}
.offer__price {
  font-weight: bold;
}

.drink-menu {
  padding: 0 10px 10px 10px;
}
@media screen and (min-width: 960px) {
  .drink-menu {
    width: 960px;
    padding: 0 40px 40px 40px;
  }
}/*# sourceMappingURL=style.css.map */