html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 17px;
  line-height: 1.5;
  font-family: "Lora", serif;
}

.button-primary {
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 30px;
}

section,
footer {
  margin: 0 auto;
}

.title {
  font-size: 36px;
  margin: 0;
  padding-top: 30px;
  text-align: center;
}
.title__text {
  margin-top: 0;
  text-align: center;
}

.photo {
  height: 100%;
  width: 100%;
}

.menu {
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 960px) {
  .menu {
    background-color: #282828;
  }
}
.menu #menu--hidable {
  display: none;
}
@media screen and (min-width: 960px) {
  .menu #menu--hidable {
    display: flex;
  }
}
.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 960px) {
  .menu__list {
    display: flex;
    justify-content: space-between;
  }
}
.menu__link {
  text-decoration: none;
  color: #fff;
  background-color: #282828;
  padding: 14px 16px;
  display: block;
}
.menu__link:hover {
  background-color: #fff;
  color: #282828;
}
.menu__icon {
  background-color: #282828;
  color: #fff;
  padding: 14px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
@media screen and (min-width: 960px) {
  .menu__icon {
    display: none;
  }
}
.menu__icon:hover {
  background-color: #fff;
  color: #282828;
}
.menu__link--active {
  background-color: #282828;
  color: #fff;
  font-weight: bold;
}

.header {
  opacity: 0.9;
  background-image: url(../images/header-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}
.header__logo, .header__text {
  color: #fff;
  text-align: center;
}
.header__logo {
  font-weight: bold;
  font-size: 48px;
  padding: 20px 0 0 0;
}
.header__logo::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  background-color: #fff;
  margin: auto;
  margin-top: 0;
}
.header__text {
  font-style: italic;
}

.breakfast-nav {
  opacity: 0.8;
}
.breakfast-nav__content {
  text-align: center;
  background-image: url(../images/breakfast-nav.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 250px;
}
@media screen and (min-width: 960px) {
  .breakfast-nav__content {
    height: auto;
  }
}

@media screen and (min-width: 960px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 300px;
  }
}
.grid__column-left {
  grid-column: 1;
  grid-row: 1;
}
.grid__column-middle {
  grid-column: 2;
  grid-row: 1;
}
.grid__column-right {
  grid-column: 3;
  grid-row: 1;
}

.photo--hidden {
  display: none;
}
@media screen and (min-width: 960px) {
  .photo--hidden {
    display: block;
  }
}

.lunch-menu {
  padding: 0 10px 10px 10px;
}
@media screen and (min-width: 960px) {
  .lunch-menu {
    width: 960px;
    padding: 0 40px 40px 40px;
  }
}

.table__header {
  padding: 20px 0 0 10px;
  text-align: left;
}
.table__text {
  border-bottom: 1px dashed #000;
}
.table__text:last-child {
  padding-left: 20px;
  border: 0;
}

.grid--medium {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 500px;
}/*# sourceMappingURL=style.css.map */