@use 'variable';

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    margin: 0;
    font-size: 17px;
    line-height: 1.5;
    font-family: 'Lora', serif;
}

.button-primary {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 30px;
}

section, 
footer {
    margin: 0 auto;
}