@use 'variables';

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    margin: 0;
    font-size: 17px;
    line-height: 1.5;
    font-family: 'Lora', serif;

}

nav, 
header,
section, 
footer {
    margin: 0 auto;
    margin-bottom: 20px;
    @media screen and (min-width: variables.$breakpoint-pc) {
    width: 1100px;
}
}

