@use 'variables';

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    margin: 0;
    font-size: 17px;
    line-height: 1.5;
    font-family: 'Lora', serif;

}
main {
    margin-bottom: 100px;
}

nav, 
header,
section, 
footer,
.text-center{
    margin: 0 auto;
    text-align: center;
 }

header,
section,
.text-center {
    margin-bottom: 40px;
}

nav {
    margin: 0 auto;
}

img {
    width: 100%;
}






