@use 'variables';

/*
 **************************************
	Breakfast menu on the main side
 **************************************
*/

.breakfast-nav {
    opacity: 0.8;
    
    &__content {
    text-align: center;
    background-image: url(../images/breakfast-nav-2.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 250px;
    @media screen and (min-width: variables.$breakpoint-pc){
        height: auto;
        }
    }
}