@use 'variables';

.breakfast-nav {
    opacity: 0.9;
    
    &__content {
    text-align: center;
    background-image: url(../images/breakfast-nav.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 250px;
    @media screen and (min-width: variables.$breakpoint-pc){
        height: auto;
        }
    }

}