@use 'variables';
/*
 **************************************
	Button
 **************************************
*/
.button {
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    color: #000;

    /* White button*/
    &--white {
        color: #fff;
        border: 2px solid #fff;
        
        &:hover {
            color: #000;
            background-color: #fff;
        }
    }

    /* Black button*/
    &--black {
        border: 2px solid #000;
        
       &:hover {
        background-color: #000;
        color: #fff;
    }
    }

    &--margin {
        margin-top: 10px;
    }

    &--block {
        display: block;
        margin: 10px auto;
    }

    &--underline {
        text-decoration: underline;
    }
}

