@use 'variables';
/*
 **************************************
	Content setting
 **************************************
*/
.content {
    padding: 0 variables.$spacer;
    max-width: 540px;

    @media screen and (min-width: variables.$breakpoint-large-tablet) {
       max-width: 100%; 
    }

    @media screen and (min-width: variables.$breakpoint-pc) {
        max-width: 1100px;
    }

    &__image {
        max-width: 540px;
        height: 400px;
        @media screen and (min-width: variables.$breakpoint-large-tablet) {
            width: 100%;
        }
        }

    &__image--hidden {
        display: none;
    @media screen and (min-width: variables.$breakpoint-large-tablet) {
        display: block;
        }
    }

    /* Return button */
    &__return-button {
        text-align: left;
    }

    &__intro {
        margin-bottom: variables.$spacer;
    }
}
