@use 'variables';
/** **************************************
	 section Contact form
 **************************************  */
.contact-form {

    &__dialog::backdrop {
        background: rgba($color: #000000, $alpha:0.8);
    }

    &__button {
            font-family: 'Lora', serif;
            background-color: #000;
            color: #fff;
            padding: calc(variables.$spacer / 2) variables.$spacer;
            border: 0;
    
            &:hover {
                cursor: pointer;
            }
        }
}

