@use 'variables';
/*
 **************************************
	Events card on the main side 
 **************************************
*/
.events-nav {
    padding: 0 variables.$spacer;
    text-align: center;
    @media screen and (min-width: variables.$breakpoint-pc ) {
        padding: 0;
    }
    
    @media screen and (min-width: variables.$breakpoint-large-screen ) {
        max-width: variables.$breakpoint-large-screen;
    }
}

/* Flexbox card in events-nav*/
.flex {
    display: flex;
    flex-direction: column;
    gap: variables.$spacer;

    @media screen and (min-width: variables.$breakpoint-tablet ) {
      flex-direction: row;
      justify-content: center;
      gap: 0; 
    }  
}

ul {
    list-style-type: none;
    padding: 0;
}

/*
 **************************************
	Events card
 **************************************
*/
.card {
    margin-bottom: variables.$spacer;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);

    @media screen and (min-width: variables.$breakpoint-tablet ) {
        margin: 0;
        flex-basis: calc(100% / 3);
        
    &:nth-child(2) {
        margin: 0 variables.$spacer;
        }
    }

    @media screen and (min-width: variables.$breakpoint-large-screen ) {
        flex: 1;
    }

    &__text, 
    &__title, 
    &__date {
        margin: 0;  
    }

    &__title {
        text-align: center;
    }

    &__time {
        font-weight: bold;
    }

    &__img {
        height: 350px;
    }
}