@use 'variables';
/*
 **************************************
	Events page
 **************************************
*/
.events-page {

    &__title {
        text-decoration: underline;
    }

    &__title,
    &__date, 
    &__time {
        margin: 0;
    }

    &__time {
        font-weight: bold;
    }
}