@use 'variables';
/*
 **************************************
	Footer
 **************************************
*/
.footer {
    display: flex;
    flex-direction: column;
    gap: variables.$spacer;
    padding-top: variables.$spacer;
    background-color: variables.$c-primary;
    color: #fff;

    &__copyright{
        background-color: #000; 
        padding: variables.$spacer 0;
        
    @media screen and (min-width: variables.$breakpoint-tablet) {
        flex-basis: 100%;
        }
    }

    &__text,
    &__copyright {
        font-size: 14px;
    }

    &__title, 
    &__text{
        margin: 0;
    }

    &__text--italic {
        font-style: italic;
    }
   
    /* Footer newsletter input */
    &__input {
        font-family: 'Lora', serif;
        padding: 10px 30px;
        margin-top: variables.$spacer;
        text-align: center;
        
        &::placeholder {
            font-style: italic;
        }
    }

    /* button newsletter */

    &__newsletter-button {
        font-family: 'Lora', serif;
        background-color:#000 ;
        display: block;
        margin: calc(variables.$spacer / 2) auto 0 auto;
        padding: calc(variables.$spacer / 2 ) variables.$spacer;
        color: #fff;
        border: 0;

        &:hover {
            cursor: pointer;
       }
    
    }

    /* Footer hidden alert */
    &__alert--hidden {
        color: #62b022;
        font-weight: bold;
        display: none;
        margin: 10px;
    }
   
}