@use 'variables';

.footer {
    display: flex;
    flex-direction: column;
    gap: variables.$spacer;
    padding-top: variables.$spacer;
    background-color: variables.$c-primary;
    color: #fff;

    @media screen and (min-width: variables.$breakpoint-tablet) {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    
    }

    &__newsletter,
    &__open {
    @media screen and (min-width: variables.$breakpoint-pc) {
        flex-basis: 100%;
        }
    }

    &__copyright{
        background-color: #000; 
        padding: variables.$spacer 0;
        
    @media screen and (min-width: variables.$breakpoint-tablet) {
        flex-basis: 100%;
        }
    }

    &__text,
    &__copyright {
        font-size: 14px;
    }

    &__title, 
    &__text{
        margin: 0;
    }
   
}

.input {
    padding: 10px 30px;
    margin-top: variables.$spacer;
    text-align: center;
    font-style: italic;
}

.hidden--alert {
    color: #62b022;
    font-weight: bold;
    display: none;
    margin: 10px;
}

