@use 'variables';

.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    background-color: variables.$c-primary;
    color: #fff;

    @media screen and (min-width: variables.$breakpoint-tablet) {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    
    }

    &__title, 
    &__text{
        margin: 0;
    }

    &__text {
        font-style: italic;
    }  

     &__copyright{
        background-color: #000; 
        padding: 20px 0;
        
    @media screen and (min-width: variables.$breakpoint-tablet) {
        flex-basis: 100%;
        font-weight: bold;
        }
    }
}

.input {
    padding: 10px 30px;
    text-align: center;
    font-style: italic;
}



