@use 'variables';

.grid-column {

    @media screen and (min-width: variables.$breakpoint-pc) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 300px;
    }


    &__left {
        grid-column: 1;
        grid-row: 1;
    }

    &__middle {
        grid-column: 2;
        grid-row: 1;
    }

    &__right {
        grid-column: 3;
        grid-row: 1;
    }
}

.grid-row {
        margin-bottom: variables.$spacer;

    @media screen and (min-width: variables.$breakpoint-large-tablet){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 400px;
        gap: variables.$spacer; 

    &__left {
        grid-column: 1;
        grid-row: 1;
        align-self: center;

        &--text-align-top {
            align-self: stretch;
        }
    }

    &__right {
        grid-column: 2;
        grid-row: 1;
        align-self: center;
    }
    }
}

.grid-gallery {

    @media screen and (min-width: variables.$breakpoint-large-tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    @media screen and (min-width: variables.$breakpoint-pc) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);

        &__left {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
        }

        &__right {
            grid-column: 2 / span 2;
            grid-row: 3 / span 2;
        }
    }

}


