@use 'variables';
/*
 **************************************
	Header
 **************************************
*/
.header {
    position: relative;
    height: 60vh;

    @media screen and (min-width: variables.$breakpoint-pc ){
        height: 80vh;
    }

    &__image {
        height: 60vh;
        opacity: 0.8;
    @media screen and (min-width: variables.$breakpoint-pc ) {
            height: 80vh;
        }
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 80px auto;
        z-index: 1;
        color: #000;
        font-family: 'IM Fell English SC', serif; 
    }

    &__title {
        // margin-top:90px;
        font-size: 38px;
        font-weight: bold;
        display: inline-block;
        text-transform: uppercase;
        //background-color: rgba(0, 0, 0, 0.5);
        //border-radius: 12px;
        @media screen and (min-width: variables.$breakpoint-pc ) {
            font-size: 52px;
        }
    }

   &__title::after {
        content: "";
        display: block;
        width: 200px;
        height: 6px;
        background-color: #000;
        margin: auto;
    }

    &__text {
        margin: 0;
        font-size: 20px;
    }
  
    &__title,
    &__text {
        font-weight: bold;
        text-shadow: 2px 2px 2px white;
    }
}


