@use 'variables';

.menu {
    overflow: hidden;
    position: relative;
    text-align: left;
    background-color: variables.$c-primary ;

    @media screen and (min-width: variables.$breakpoint-pc) {
    background-color: variables.$c-primary;
    }

    & #menu--hidable {
        display: none;
    @media screen and (min-width: variables.$breakpoint-pc) {
       display: flex; 
    }    
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    @media screen and (min-width: variables.$breakpoint-pc) {
        display: flex;
        justify-content: space-between;
        }
    }

    &__link {
        text-decoration: none;
        color: #fff;
        padding: 14px 16px;
        display: block;

        &:hover {
            background-color: #fff;
            color: variables.$c-primary;
        }
    }

    &__icon {
        background-color: variables.$c-primary;
        color: #fff;
        padding: 14px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;

        @media  screen and (min-width: variables.$breakpoint-pc) {
        display: none;
        }

        &:hover {
            background-color: #fff;
            color: variables.$c-primary;
        }
    }

    &__link--inline-block {
        font-weight: bold;
        display: inline-block;
    }

}