@use 'variables';
/*
 **************************************
	Photo on the main side
 **************************************
*/
.photo {
    display: block;
    height: 100%;

    &--hidden {
    display: none;
    
    @media screen and (min-width: variables.$breakpoint-pc) {
        display: block;
        }
    }
}
