@use 'variables';

.title {
    font-size: 36px;
    margin: 0;
    text-align: center;

    &__text {
        margin-top: 0;
        text-align: center;
        font-weight: bold;
    }

    &--padding {
        padding-top: 20px;
    }
}