<footer class="footer">
    <div class="footer__newsletter">
        <h3 class="footer__title">Zaregistrujte se k odběru novinek!</h3>
        <p class="footer__text">(odpolední menu, události, slevové akce)</p>

        <p class="footer__hidden--alert" id="after-submit-text">Děkujeme za registraci :)</p>

        <input type="email" placeholder="novak@gmail.com" id="newsletter" class="footer__input">
        <button onclick="submitForm()" for="newsletter" id="submit-button"
            class="button button--black button--block">Zaregistrovat
            se</button>
    </div>

    <div class="footer__open">
        <h3 class="footer__title">Otevírací doba</h3>
        <p class="footer__text">pondělí až sobota 8:00 - 22:00 hod.</p>
        <p class="footer__text">neděle 8:00 - 18:00 hod.</p>
    </div>

    <div class="footer__copyright">
        &copy;2022, Staň se kóderkou, Czechitas.
    </div>
</footer>