<header class="header" id="page-top">
    <div class="header__logo">
        <div class="header__title">My Friends</div>
        <p class="header__text">bistro & coffee</p>
    </div>


    <div class="siema">
        <img class="header__image" src="/images/bistro-gallery.jpg" alt="Bistro My Friends">
        <img class="header__image" src="/images/breakfast-slider.jpg" alt="Breakfast menu">
        <img class="header__image" src="/images/lunch-slider.jpg" alt="Lunch menu">
        <img class="header__image" src="/images/party-slider.jpg" alt="Party in bistro">
    </div>

    <!--Add Siema-->

    <script>
        const siema = new Siema({
            loop: true,
        });
        setInterval(() => {
            var screenWidth = window.innerWidth;
            if (screenWidth > 540) {
                siema.next();
            }
        }, 4000);
    </script>
</header>