<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!-- Vlastní CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!--Google Fonts: -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&display=swap" rel="stylesheet">

    <!--Menu-icon font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/javascript.js"></script>
    <script src="/siema.min.js"></script>

</head>

<body>

    {% include 'partials/menu.njk' %}

    {% include 'partials/header.njk' %}

    <main class="main">

        {{ content | safe }}

    </main>

    {% include 'partials/scroll-up.njk' %}

    {% include 'partials/footer.njk' %}

</body>

</html>